@import "../../styles/variaveis";

.botao {
    background-color: $azul-escuro;
    border-radius: 0.625rem;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1.2rem;
    border: none;
    cursor: pointer;
    color: $branco;
    margin: 0.5rem 0;

    &:hover {
        background-color: $azul-claro;
    }

    @media (max-width: 768px){
        font-size: 1rem;
        padding: 1rem;
        display: block;
        margin: 0 auto;
    }
}
