@import '../../styles/variaveis'; 

.categoria {
    text-align: center;

    h3 {
        display: inline-block;
        color: $preto;
        font-size: 1.2rem;
        border-bottom: 0.3rem solid;
        margin: 2rem;
    }

    &__itens {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        column-gap: 1rem;
    }
}