@import "../../styles/variaveis";

.banner {
    width: 100vw;
    position: relative;
    
    &__imagem {
        width: 100%;
        height: 25rem;
    }

    &__container {
        background-color: $azul-escuro;
        padding: 1rem;
        box-sizing: border-box;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 768px){
            flex-direction: column;
            font-size: 1rem;
        }
    }

    &__logo {
        height: 5rem;
    }

    &__texto {
        width: auto;
        font-size: 1.1rem;
        color: $branco;

        @media (max-width: 768px){
            font-size: 0.7rem;
        }

    }

}